body * {
    box-sizing: border-box;
}


/* imagens Slide */

#fundoBuscar div img {
    object-fit: cover;
}


/* Buscar Slide */

#buscarGeral {
    margin: auto;
    top: -250px;
}


/* Começo main */

#recomendacoes {
    border-radius: 50%;
    object-fit: cover;
}