body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* imagens Slide */

#fundoBuscar div img {
    object-fit: cover;
}


/* Buscar Slide */

#buscarGeral {
    margin: auto;
    top: -250px;
}


/* Começo main */

#recomendacoes {
    border-radius: 50%;
    object-fit: cover;
}

#recomendacoes:hover{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* Fim main */

/* Rodapé */

