header>div>img {
    background-color: #FFF;
    border-radius: 100px;
}

body {
    background-image: url('../img/imgLogin.jpg');
}

.inner-div-form {
    padding: 40px 20px;
    background-color: #FFF;
    margin: 0 auto;
    border-radius: 5px;
}

.container > form {
    margin-top: 100px;
}